@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply bg-secondary-50 focus:border-primary-600 focus:ring-primary-600;
  }
}

@layer components {
  .delay {
    @apply transition duration-300 ease-in-out;
  }

  .btn_nav {
    @apply cursor-pointer flex items-center px-4 py-2 text-secondary-500 delay font-bold hover:border-b-2 hover:text-blue-300 transition-all duration-200 border-blue-300;
  }

  .input-search {
    @apply rounded-xl border-b-2 border-slate-600/20 bg-white/80 p-3  opacity-70 hover:shadow-sm shadow-slate-300/50 outline-none transition-all duration-100 hover:border-sky-300/60 hover:opacity-100  hover:shadow-slate-300/70   focus:border-sky-300/60;
  }

  .btn_info_outline {
    @apply hover:border-2 hover:rounded-xl transition-all py-3 px-6 cursor-pointer text-blue-300 border-b-[3px]  border-blue-300   text-center     font-bold  text-base;
  }

  .Button {
    @apply btn cursor-pointer   btn-info shadow-md transition-all  duration-200 hover:shadow-lg shadow-blue-200  text-blue-50 font-bold   text-base rounded-lg;
  }
  .h1 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter lg:text-4xl;
  }

  .h2 {
    @apply text-2xl font-extrabold leading-tight tracking-tighter lg:text-3xl;
  }

  .btn,
  .btn-sm {
    @apply inline-flex items-center justify-center font-medium leading-snug border border-transparent rounded delay disabled:opacity-50;
  }

  .btn {
    @apply px-4 py-3 md:px-8;
  }

  .btn-sm {
    @apply px-4 py-2;
  }

  .animate-bounce-2 {
    animation: bounce-1 6s infinite normal;
  }

  @keyframes bounce-1 {
    0%,
    100% {
      transform: translateY(-3%);
    }
    50% {
      transform: none;
    }
  }

  .btn-primary {
    @apply text-white bg-primary-600 hover:bg-primary-700;
  }

  .btn-grad {
    background-image: linear-gradient(
      to right,
      theme(colors.primary.400),
      theme(colors.primary.600),
      theme(colors.primary.800)
    );

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
  }

  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
}
