@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply  p-3 transition-all duration-100 border-b-2 outline-none rounded-xl border-secondary-300 bg-white/80 opacity-70 shadow-secondary-300/50 hover:border-primary-300/60 hover:opacity-100 hover:shadow-sm hover:shadow-secondary-300/70 focus:border-primary-300/60;
  }
}


  ::-webkit-scrollbar {

    width: 11px;
     background-color: rgb(255, 255, 255);

  }
  ::-webkit-scrollbar-track {

     border-radius: 50px;

  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, hsla(196, 100%, 78%, 0.619), #a1dcee94);
    border-radius: 100px;
  }
    ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, hsl(196, 100%, 78%), #a1dcee);
  }


@layer components {
  .delay {
    @apply transition duration-300 ease-in-out;
  }

  .btn_nav {
    @apply flex items-center px-4 py-2 font-bold transition-all duration-200 cursor-pointer border-primary-300 delay text-secondary-500 hover:border-b-2 hover:text-primary-300;
  }

  .btn_info_outline {
    @apply cursor-pointer border-b-[3px] border-primary-300 py-2 px-6 text-center text-base font-bold  text-primary-300   transition-all     hover:rounded-xl  hover:border-2;
  }

  .button_info {
    @apply text-base font-bold transition-all duration-200 rounded-lg shadow-md cursor-pointer btn btn-info shadow-primary-200 hover:shadow-lg;
  }
  .h1 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter lg:text-4xl;
  }

  .h2 {
    @apply text-2xl font-extrabold leading-tight tracking-tighter lg:text-3xl;
  }

  /* .btn,
  .btn-sm {
    @apply inline-flex items-center justify-center font-medium leading-snug border border-transparent rounded delay disabled:opacity-50;
  }

  .btn {
    @apply px-4 py-3 md:px-8;
  }

  .btn-sm {
    @apply px-4 py-2;
  } */

  .animate-bounce-2 {
    animation: bounce-1 6s infinite normal;
  }

  @keyframes bounce-1 {
    0%,
    100% {
      transform: transecondaryY(-3%);
    }
    50% {
      transform: none;
    }
  }

  .btn-primary {
    @apply text-white bg-primary-600 hover:bg-primary-700;
  }

  .btn-grad {
    background-image: linear-gradient(
      to right,
      theme(colors.primary.400),
      theme(colors.primary.600),
      theme(colors.primary.800)
    );

    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
  }

  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }


}
